.formContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #5EC2F5; 
    border-radius: 0.5rem;
    width: fit-content;
    padding: 1.5rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    justify-content: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    margin-top: 1.25rem; 
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 24rem; 
}

.errorText {
    color: #E94F4F;
    font-size: 0.875rem; 
    margin-top: 0.25rem;
    word-break: break-word;
    width: 24rem; 
}

.authBlock {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--light-gray);
    color: var(--gray);
    border: solid var(--light-gray) 1.5px;
    border-radius: 0.5rem;
    margin-top: 25px;
    padding: 20px;
    font-size: medium;
}

.authLink {
    color: #5EC2F5; 
    font-weight: bold;
    margin-left: 0.5rem; 
}